<h2>管理者　商品一覧ページ</h2>
<h3><%= link_to '商品新規登録', new_admin_item_path %></h3>
<table class="table table-striped">
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price.to_s(:delimited) %></td>
      <td><%= item.genre.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
<%= paginate @items %>
</div>