<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h2>

  <p>会員ID<%= @customer.id %></p>


  <div class="field">
    <%= f.label :名前 %>
    （姓）<%= f.text_field :last_name %>
    （名）<%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :フリガナ %>
    （セイ）<%= f.text_field :last_name_kana %>
    （メイ）<%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code %>
  </div>
   <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :telephone_number %>
  </div>

  <div>会員ステータス
  <%= f.radio_button :is_deleted, "false" %>
  <%= f.label :is_deleted_false, "有効" %>
  <%= f.radio_button :is_deleted, "true" %>
  <%= f.label :is_deleted_true, "退会" %>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>