<h2><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h2>
<%= @customer.id %><br>
<%= @customer.last_name %><%= @customer.first_name %><br>
<%= @customer.last_name_kana %><%= @customer.first_name_kana %><br>
<%= @customer.postal_code %><br>
<%= @customer.address %><br>
<%= @customer.telephone_number %><br>
<%= @customer.email %><br>


<%= link_to '編集する', edit_admin_customer_path(@customer.id) %>
