<h1>管理者トップページ</h1>
<h2>注文履歴一覧</h2>

<table class="table table-striped">
  <thead>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
  </thead>
  <tbody>
    <tr><% @orders.each do |order| %>
      <td><%= link_to admin_order_path(order.id) do %>
      <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      <% end %></td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><% order.order_details.each do |order_detail| %>
      <% @sum += order_detail.amount %>
      <% end %>
      <%= @sum %>
      <% @sum = 0 %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>