<h1>注文履歴一覧</h1>
<table class="table table-bordered border-dark">
    <thead class="table-secondary">
        <th>注文日</th>
        <th>配送先</th>
        <th>注文商品</th>
        <th>支払金額</th>
        <th>注文詳細</th>
    </thead>
    <tbody>
            <% @orders.each do |order| %>
            <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>〒<%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>
            <td><% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
                <% end %></td>
            <td><%= order.price.to_s(:delimited) %>円</td>
            <td><%= link_to '表示する', public_order_path(order.id), class: "btn btn-sm btn-primary" %></td>
            </tr>
            <% end %>

    </tbody>
</table>