<h1>注文履歴詳細画面</h1>

  <h4>注文情報</h4>
    注文日<%= @order.created_at %><br>
    配送先〒<%= @order.postal_code %><br>
    <%= @order.address %><br>
    <%= @order.name %><br>
    支払方法<%= @order.payment_i18n %>

  <h4>請求情報</h4>
    商品合計<br>
    配送料<%= @order.postage %><br>
    ご請求額<%= @order.price %>

  <h4>注文内容</h4>
    <table>
      <thead>
        <th>商品</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
    </table>
