<div class="title mt-5 pl-5">
<h4><strong>商品一覧</strong></h4>
</div>
<div class="container">
  <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-3"><%= link_to public_item_path(item.id) do %>
          <%= image_tag item.get_image(380,180) %>
          <% end %></td>
          <p><strong><%= item.name %></strong></hp>
          <p><strong>¥<%= item.price.to_s(:delimited) %></strong></p>
        </div>
        <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= paginate @items %>
</div>

