<div class="container">
  <div class="row">
    <div class="justify-content-center mt-4">
      <%= image_tag @item.get_image(300,300) %>
        <div class="col">
        <h4><strong><%= @item.name %></strong></h4>
          <%= @item.introduction %><br>
          <strong>¥<%= @item.with_tax_price.to_s(:delimited) %></strong>（税込）
          <%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit 'カートに入れる', class: "btn btn-sm btn-success" %>
          <% end %>
        </div>
    </div>
  </div>
</div>