<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <li>
        <%= link_to 'About', public_homes_about_path %>
      </li>
      <li>
        <%= link_to '商品一覧', public_items_path %>
      </li>
      <li>
        <%= link_to '新規登録', new_customer_registration_path %>
      </li>
      <li>
        <%= link_to 'ログイン', new_customer_session_path %>
      </li>
    </header>
    <%= yield %>
  </body>
</html>
