<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCAKE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="nav justify-content-end">
     <% if admin_signed_in? %>
        <% if request.fullpath.include? "/admin" %>
          <li>
            <%= link_to admin_items_path do %>
            <button class="btn btn-outline-dark">商品一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to admin_customers_path do %>
            <button class="btn btn-outline-dark">会員一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to admin_homes_top_path do %>
            <button class="btn btn-outline-dark">注文履歴一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to admin_genres_path do %>
            <button class="btn btn-outline-dark">ジャンル一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete do %>
            <button class="btn btn-outline-dark">ログアウト</button>
          </li>
            <% end %>
       <% else %>
          <li>
            <%= link_to public_customer_path(current_customer.id) do%>
            <button class="btn btn-outline-dark">マイページ</button>
          </li>
            <% end %>
          <li>
            <%= link_to public_items_path do %>
            <button class="btn btn-outline-dark">商品一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to public_cart_items_path do %>
            <button class="btn btn-outline-dark">カート</button>
          </li>
            <% end %>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete do %>
            <button class="btn btn-outline-dark">ログアウト</button>
          </li>
            <% end %>
       <% end %>

       <% elsif customer_signed_in? %>
          <li>
            <%= link_to public_customer_path(current_customer.id) do%>
            <button class="btn btn-outline-dark">マイページ</button>
          </li>
            <% end %>
          <li>
            <%= link_to public_items_path do %>
            <button class="btn btn-outline-dark">商品一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to public_cart_items_path do %>
            <button class="btn btn-outline-dark">カート</button>
          </li>
            <% end %>
          <li>
            <%= link_to destroy_customer_session_path, method: :delete do %>
            <button class="btn btn-outline-dark">ログアウト</button>
          </li>
            <% end %>
       <% else %>
          <li>
            <%= link_to public_homes_about_path do %>
            <button class="btn btn-outline-dark">About</button>
          </li>
            <% end %>
          <li>
            <%= link_to public_items_path do %>
            <button class="btn btn-outline-dark">商品一覧</button>
          </li>
            <% end %>
          <li>
            <%= link_to new_customer_registration_path do %>
            <button class="btn btn-outline-dark">新規登録</button>
          </li>
            <% end %>
          <li>
            <%= link_to new_customer_session_path do %>
            <button class="btn btn-outline-dark">ログイン</button>
          </li>
            <% end %>
       <% end %>
       </ul>
    </header>
    <%= yield %>
  </body>
</html>
